fastapi
uvicorn[standard]
redis
debugpy

python-multipart
numpy
MDAnalysis
--find-links https://download.pytorch.org/whl/torch_stable.html
# torch==2.3.0+cu118
torch==2.3.0+cpu
geqtrain @ git+https://github.com/limresgrp/GEqTrain@refactor_nnmodules
